.table-responsive { width: 100%; overflow-y: hidden; overflow-x: auto;}

.table-responsive table{min-width: 1400px;margin-bottom: 0;}

.employee-list-card{border-radius: 10px;}

.employee-list-card .card-body{padding: 24px;}

.table-responsive{width: 100%;overflow-x: auto;}