
@if(isEmployeeAvailable){
<h1>Employee Component Page</h1>

<h3>Employee Component Page Running</h3>
}
@else {
    <h3>Employee Component Page Not Available</h3>
}

<h2>Employee List</h2>

<table border="1" class="table table-bordered">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Department</th>
        <th>Action</th>

    </tr>

    
    @for(employeeData of empListData; track $index )

    {
        <tr>
            <td>{{employeeData.employeeId}}</td>
            <td>{{employeeData.employeeName}}</td>
            <td>{{employeeData.employeeEmail}}</td> 
            <td>{{employeeData.employeeDepartment}}</td>   
            <td>
                <button (click)="DeleteEmployee(employeeData.employeeId)">
                    Delete Employee
                </button>
            </td>
        </tr>
    }
    @empty {
        <tr>
            <td colspan="4" style="text-align: center;">No Records Found</td>
        </tr>
    }
</table>