.employee-form-card{max-width: 1100px; margin:0 auto;}

.employee-form-card .form-control, .employee-form-card .form-select{ height: 42px;}

.employee-form-card .form-label { font-weight: 500;}

.employee-form-card .btn { min-width: 100px;}

.employee-form-card .form-check{margin-top:32px}